<h1><var>USUARIOS</h1></var>

<form ng-submit="GuardarNuevoUsuario()" name="frmNewUser" ng-show="mostrando">
	<blockquote><h4><strong>Crear un usuario</h4></strong></blockquote>
	<div class="control-group">
 		 	<input type="button" class="btn btn-primary" class="" value="Cancelar" ng-click="ocultarForm()"> <br>
<div class="row">
	<fieldset>
 		 <legend>Ingrese los datos:</legend>

 		 <div class="col-xs-7">
			nombre: <input type="text"  class="form-control" ng-model="usuNuevo.first_name" ></div><br>
		<div class="col-xs-7">
			Apellido: <input type="text" class="form-control" ng-model="usuNuevo.last_name" ></div> <br>
		<div class="col-xs-7">
			Username: <input type="text" class="form-control" ng-model="usuNuevo.username" ></div><br>
		<div class="col-xs-7">
			Password: <input type="text" class="form-control" ng-model="usuNuevo.password" ></div> <br>
		<div class="col-xs-7">
			Celular: <input type="texto" class="form-control" ng-model="usuNuevo.cell"> </div><br>
		<div class="col-xs-7">
			Dirección: <input type="texto" class="form-control" ng-model="usuNuevo.direccion" ></div><br>
		<div class="col-xs-7">
			E-mail: <input type="texto" class="form-control" ng-model="usuNuevo.email"></div><br>
 </fieldset>
</div>
		
	</div> <br> 

	<input type="submit" class="btn btn-success" class="" value="Crear">
	<input type="button" class="btn btn-warning" class="" value="Cancelar" ng-click="ocultarForm()">
</form>

<hr/>

<button ng-show="btCrearMostrar" ng-click="mostrarForm()" class="btn btn-primary">Crear usuario</button>

<table class="table table-hover">
  <thead> <br>
   	<tr>
		<td>No</td>	
		<td>User</td>
		<td>Nombre</td>
		<td>Apellido</td>
		<td>Password</td>
		<td>Cell</td>
		<td>email</td>
		<td>Dirección</td>
		<td>Eliminar</td>
	</tr>
   </thead>
	
	
  <tbody>
  	<tr ng-repeat="(key, usuario) in usuarios ">
		<td>{{ key+1 }}</td>
		<td>{{ usuario.username }}</td>
		<td>{{ usuario.first_name }}</td>
		<td>{{ usuario.last_name }}</td>
		<td>{{ usuario.password }}</td>
		<td>{{ usuario.cell }}</td>
		<td>{{ usuario.email }}</td>
		<td>{{ usuario.direccion }}</td>

		<td><a ng-click="DeleteUsu(usuario, key)" href="#">Eliminar</a></td>
	</tr>

  </tbody>
  
</table>